.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.active {
  opacity: 1;
  pointer-events: all;
}
.modalContent {
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.35s;
  width: 566px;
  height: auto;
  padding: 24px;
}
.activeContent {
  transform: scale(1);
}
